/*--- Animations ---*/
@-webkit-keyframes scroll {
	0% {opacity: 0;
	transform: translate3d(0, 10px, 0)
	}
	50% {opacity: 1;}
	100% {opacity: 0;
	transform: translate3d(0, -5px, 0)}
}
@keyframes scroll {
	0% {opacity: 0;
	transform: translate3d(0, 10px, 0)
	}
	50% {opacity: 1;}
	100% {opacity: 0;
	transform: translate3d(0, -5px, 0)}
}
/*Tagline Animation*/
@-webkit-keyframes slot {
	0% {
	transform: translateY(-110px)
	}
	10% {
	transform: translateY(-110px)
	}
	20% {
	transform: translateY(-164px)
	}
	30% {
	transform: translateY(-164px)
	}
	40% {
	transform: translateY(-218px)
	}
	50% {
	transform: translateY(-218px)
	}
	60% {
	transform: translateY(-272px)
	}
	70% {
	transform: translateY(-272px)
	}
	80% {
	transform: translateY(-327px)
	}
	80.01% {
	transform: translateY(-54.05px)
	}
	90% {
	transform: translateY(-54.05px)
	}
	100% {
	transform: translateY(-110px)
	}
}
@keyframes slot {
	0% {
	transform: translateY(-110px)
	}
	10% {
	transform: translateY(-110px)
	}
	20% {
	transform: translateY(-164px)
	}
	30% {
	transform: translateY(-164px)
	}
	40% {
	transform: translateY(-218px)
	}
	50% {
	transform: translateY(-218px)
	}
	60% {
	transform: translateY(-272px)
	}
	70% {
	transform: translateY(-272px)
	}
	80% {
	transform: translateY(-327px)
	}
	80.01% {
	transform: translateY(-54.05px)
	}
	90% {
	transform: translateY(-54.05px)
	}
	100% {
	transform: translateY(-110px)
	}
}
/*Fade In*/
@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*--- Transitions ---*/
.fadein1 {
	opacity: 1;
	transition: opacity 1s;
}
.fadein2 {
	opacity: 1;
	transition: opacity 2s;
}
.expand {
	opacity: 1;
	transition: 1.5s;
	transform: translateY(15px);
}
.smooth {
	scroll-behavior: smooth;
}
.showing {
	max-height: 100%;
	opacity: 1;
	transition: 0.5s;
}
.hide {
	height: 0;
	width: 0;
	opacity: 0;
}