/*Contact Form*/
.contact-form input:focus {
	color: #16A7F6;
	border-bottom: 2px solid #16A7F6;
}
.contact-form textarea:focus {
	color: #16A7F6;
	border: none;
	border-bottom: 2px solid #16A7F6;
}
.btn-submit:hover {
	border: solid #16A7F6 2px;
	background: #16A7F6;
}

/*Sections*/
.section {
	height: auto;
	width: 80%;
	position: relative;
	margin: auto;
	align-content: center;
	text-align: center;
	overflow: hidden;
}
.left {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	max-width: none;
}
.right {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	max-width: none;
}
.left img {
	height: auto;
	width: 100%;
}

.descriptive-txt {
	width: 50%;
	margin-left: 25%;
}
p {
	font-size: 15px;
}
.education {
	opacity: 0;
	transform: translateY(-15px);
}
.Services {
	opacity: 0;
	transform: translateY(-15px);
}
.projects {
	opacity: 0;
	transform: translateY(-15px);
}
.gravity {
	opacity: 0;
	transform: translateY(-15px);
}
.gravity-logo img {
	height: auto;
	width: 50%;
	margin-bottom: 35px;
}

/* Tagline */
.content {
	max-width: none;
	margin: 0 auto;
	text-align: center;
}
.content h2 {
	cursor: default;
	font-weight: 400;
}
.tagline-mobile {
	display: none;
	max-width: 90%;
}
.tagline-mobile p {
	font-size: 25px;
	font-weight: 300;
}
em {
	color: #16A7F6;
	font-style: normal;
}
.tagline {
	display: inline-flex;
	z-index: 0;
}
.tagline h2 {
	font-size: 30px;
	z-index: 0;
}
.slot-txt1 {
	margin: 0px 15px;
	display: block;
	text-align: center;
	animation-name: slot;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	-webkit-animation-name: slot;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
}
.slot-txt2 {
	margin: 0px 15px;
	display: block;
	text-align: center;
	transform: translateY(-110px);
	animation-name: slot;
	animation-duration: 15s;
	animation-delay: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-name: slot;
	-webkit-animation-duration: 15s;
	-webkit-animation-delay: 1.5s;
	-webkit-animation-iteration-count: infinite;
}
.slot-txt1 h2 {
	color: #16A7F6;
	line-height: 1;
}
.slot-txt2 h2 {
	color: #16A7F6;
	line-height: 1;
}
.mask {
	height: 110px;
	padding-top: 25px;
	display: block;
	align-content: center;
	-webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 50%, transparent 100%);
	mask-image: linear-gradient(to bottom, transparent 0%, black 50%, transparent 100%);
}

/* Landing Page */
.home {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	justify-content: center;
	vertical-align: bottom;
	margin: auto;
	display: flex;
	z-index: 0;
}
.home video {
	width: 100%;
	height: auto;
	z-index: 0;
	position: absolute;
	top: 130px;
}

/*--- Media Queries --*/
@media screen and (max-width: 1850px) {
	.tagline-mobile {
		display: inline-flex;
	}
	.tagline {
		display: none;
	}
	.mask {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 40px;
	}
	.descriptive-txt {
		width: 60%;
		margin-left: 20%;
	}
	.spacer {
		height: 5%;
	}
	.gravity-logo img {
		width: 70%;
	}
	.tagline-mobile h2 {
		font-size: 20px;
	}
	.home video {
		width: 140vw;
		position: relative;
		top: 0px;
	}	
}
@media screen and (max-width: 375px) {
	h1 {
		font-size: 25px;
	}
	.descriptive-txt {
		width: 70%;
		margin-left: 15%;
	}
	.gravity-logo img {
		width: 80%;
	}
	.tagline-mobile {
		display: inline-flex;
	}
	.tagline-mobile p {
		font-size: 20px;
	}
}
@media screen and (max-width: 320px) {
	h1 {
		font-size: 20px;
	}
	.descriptive-txt {
		width: 80%;
		margin-left: 10%;
	}
}
@media (max-aspect-ratio: 9/16) {
	.home video {
		width: 140vw!important;
		position: relative!important;
		top: 0px!important;
	}
}