/*Contact Form*/
.contact-form input:focus {
	color: #16A7F6;
	border: none;
	border-bottom: 2px solid #16A7F6;
}
.contact-form textarea:focus {
	color: #16A7F6;
	border: none;
	border-bottom: 2px solid #16A7F6;
}
.btn-submit:hover {
	border: solid #16A7F6 2px;
	background: #16A7F6;
}

/*Sections*/
h1 {
	font-size: 50px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 35px;
	letter-spacing: 5px;
	margin-left: 5px;
}
p {
	text-align: center!important;
}
.home {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	margin: auto;
	display: flex;
	top: 0;
}
.section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%!important;
}
.Service {
	flex: 0 1 30%;
	border: solid rgba(248,248,248,0.08) 1px;
	border-radius: 3px;
}
.card {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
.card img {
	width: 90%;
	height: auto;
	padding-bottom: 40px;
	padding-top: 40px;
}
.card p img {
	width: auto;
	height: 12px;
	padding-bottom: 0;
	padding-top: 0;
}
.Service p {
	max-width: 80%;
	text-align: center;
	margin-left: 10%;
	vertical-align: middle;
}
.mobile {
	display: none;
}
.desktop {
	display: flex;
}

@media screen and (max-width: 1400px) {
	.home {
		height: auto;
	}
	.section {
		padding-bottom: 60px;
	}
	.Service {
		flex: 0 1 80%;
		margin-top: 60px;
		
	}
	.Service p {
		max-width: 100%;
		margin-left: 0;
	}
	.mobile {
		display: flex;
	}
	.desktop {
		display: none;
	}
}
